* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Google Sans;
}

.header {
    background: #0a1a2f;
    padding: 30px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 45px;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: rgb(185, 255, 33);
  transition: width 0.35s ease;
}

.nav-links a:hover {
  color: rgb(185, 255, 33);
}

.nav-links a:hover::after {
  width: 100%;
}

.search-box input {
    width: 120px;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background: whitesmoke;
    transition: width 0.4s ease;
}

.search-box:hover input,
.search-box input:focus {
    width: 180px;
}



.toggle-bar {
    background: #3d1c69;
    padding: 16px 10px;
    border-bottom: 1px solid #d1d5db;
}

.toggle-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 10px;
}

.toggle-row:last-child {
    margin-bottom: 0;
}

.toggle-item {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;

    background: linear-gradient(135deg, #6366f1, #4f46e5);
    border: none;
}

.toggle-item:hover {
    background: linear-gradient(135deg, #060422, #020226);
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transform: translateX(5px);

}

.toggle-item.active {
    background: linear-gradient(135deg, #10b981, #3b82f6);
    color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}